body{
    margin: 0;
    padding: 0;
}

.toggle-btn {
    background-color: #CAD3E0;
    width: 51px;
    height: 26px;
    border-radius: 7rem;
    border: solid 1px #b8c0cc;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .toggle-btn--bg {
    background-color: #F47B38;
    border-color: #D25916;
    transition: transform 0.5s ease, left 0.5s ease, background-color 0.75s ease;
  }

  .toggle-btn__inner {
    background-color: #FCFCFC;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.5);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 2.3px;
    position: relative;
    left: 1px;
    transform: rotate(0deg);
    transition: transform 0.5s ease, left 0.5s ease, background-color 0.75s ease;
  }
  .toggle-btn__inner--on {
    left: 26px;
    transform: rotate(-90deg);
    background-color: #fff;
    transition: transform 0.5s ease, left 0.5s ease, background-color 0.75s ease;
  }

  .toggle-btn__icon {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
    width: 12px;
    height: 40px;
  }

  .toggle-btn__icon__line {
    display: inline-block;
    width: 16px;
    height: 1.6px;
    background-color: #CAD3E0;
    position: relative;
    transform: rotate(-45deg);
    border-radius: 0.3rem;
    top: 7.5px;
    left: -2px;
  }
  .toggle-btn__icon__line:before {
    display: inline-block;
    width: 16px;
    height: 1.6px;
    background: #CAD3E0;
    transition: 0.3s;
    position: absolute;
    transform: rotate(90deg);
    left: 0;
    right: 0;
    content: '';
    border-radius: 0.3rem;
  }
  .toggle-btn__icon__line--tick {
    width: 14px;
    top: 10px;
    left: -2px;
    background-color: #F47B38;
    transform: rotate(-140deg);
    transition: left 0.5s ease, transform 0.5s ease, top 0.5s ease;
  }
  .toggle-btn__icon__line--tick:before {
    width: 7px;
    left: 10px;
    top: 3px;
    background-color: #F47B38;
    transform: rotate(-90deg);
    transition: width 0.5s ease, transform 0.5s ease, left 0.5s ease, top 0.5s ease;
  }